
html, body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#panes {
    display: inline-flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

#blocklyArea {
    width: 100%;
    margin: 0;
}

#blocklyDiv {
    position: absolute;
}