
html, body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#panes {
    display: inline-flex;
    bottom: 0px;
    width: 100%;
    margin: 0;
}

#blocklyArea, #rightHand {
    width: 100%;
    margin: 0;
    bottom: 0;
}

#serial_log {
    height: calc(100vh - 45px);
    margin: 0;
}

#blocklyDiv {
    position: absolute;
    bottom: 0;
}