
html, body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#panes {
    display: inline-flex;
    bottom: 0px;
    width: 100%;
    margin: 0;
}

#blocklyArea, #rightHand {
    display: block;
    width: 100%;
    margin: 0;
    bottom: 0;
}

#serial_log {
    height: calc(100vh - 45px);
    margin: 0;
}

#blocklyDiv {
    position: absolute;
    bottom: 0;
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('node_modules/split.js/grips/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('node_modules/split.js/grips/horizontal.png');
    cursor: ns-resize;
}