#toolbar {
    height: 20%;
    width: 100%;
}

#panes, #panes tr {
    height: 80%;
    width: 100%;
}

#blocklyDiv {
    height: 100%;
}

#output {
    height: 100%;
    font-family: Courier, monospace;
}