
html, body {
    height: 100%;
}

#panes {
    height: -webkit-calc(100% - 45px);
    width: 100%;
}

#panes tr {
    height: 100%;
}

#blocklyArea {
    height: 99%;
    width: 50%;
}

#blocklyDiv {
    position: absolute;
}

#output {
    height: 99%;
    width: 100%;
    font-family: Courier, monospace;
    overflow-y: scroll;
}

.lightbox-hidden {
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(100,100,100,0.6);
    z-index: 10;
}

.lightbox-inner {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 4px 4px 2px #888888;
    -webkit-border-radius: 3px;
    background: white;
}

.lightbox-inner input {
    border: 1px solid black;
    -webkit-border-radius: 2px;
}

.toolbar_close:before {
    content: "×";

}
.toolbar_close {
    float:right;
    margin-top:-20px;
    margin-right:-20px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0;
    padding: 12px 3px;
}

.panels {
    width: 100%;
    height: 100%;
    margin: auto;
}

.panel-left {
    width: 50%;
    height: 200px;
    border: 0;
    float: left;
}

.panel-left select {
    width: 95%;
    height: 100%;
}

.panel-right {
    height: 200px;
    border: 0;
    padding-left: 10px;
}

.fa-stop {
    color: red;
}

.fa-play {
    color: green;
}